---
export interface Props {
  title: string
  subtitle: string
  description?: string
}

const { title, subtitle, description } = Astro.props as Props
---

<h2 class='text-3xl lg:text-[3.4rem] font-medium lg:mb-[12px]'>{title}</h2>
<em
  class='text-lg lg:text-2xl mb-3 lg:mb-5 inline-block text-[#7B7B7B] lg:text-inherit'
  >{subtitle}
</em>
{description && <p class='text-base lg:text-lg'>{description}</p>}
