---
import Heading from '@/components/aldea/Heading.astro'

const benefits = [
  'Exoneración de pagos por colegiatura en el Colegio de Arquitectos del Perú, Regional Áncash, durante de la temporada de la primera de edición de Aldea.',
  'Certificado oficial de participación emitido por el Colegio de Arquitectos del Perú',
  'Certificado de participación emitido por la Organización Cultural Chimboteros.',
  'Talleres gratuitos sobre arquitectura, branding, cultura y turismo',
  'Conformar un equipo multidisciplinario que desarrolle proyectos de innovación e impacto, con enfoque cultural y turístico.',
  'Participación como protagonista en la conceptualización y diseño arquitectónico de la primera Festividad de Chimbote 2022'
]
---

<section id='beneficios' class='grid lg:grid-cols-2 border-t lg:border-t-0'>
  <div class='relative order-1 lg:order-none'>
    <img src='/images/aldea/estatuas.jpg' alt='estatuas de niñas danzando' />
    <small class='absolute bottom-4 left-5 text-xs lg:text-sm text-[#eee]'>
      Escultura en el <br /> bulevar Isla Blanca <br /> David Aguedo / Fotear
    </small>
  </div>

  <div class='relative py-14 px-10'>
    <div
      class='w-[42rem] max-w-fit lg:max-w-full mx-auto lg:absolute-center md:text-center lg:text-left'
    >
      <div class='text-center lg:text-left mb-8'>
        <Heading title='Beneficios' subtitle='Participantes' />
      </div>

      <ul
        class='list-disc md:list-none lg:list-disc flex flex-col gap-3 md:gap-5 lg:gap-3 pl-4'
      >
        {
          benefits.map((benefit) => (
            <li class='lg:text-2xl lg:leading-9'>{benefit}.</li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
