---
import Heading from '@/components/aldea/Heading.astro'

const benefits = [
  'Exoneración de pagos de colegiatura en el Colegio de Arquitectos del Perú, Regional Áncash',
  'Certificado oficial de participación emitido por el Colegio de Arquitectos del Perú, Regional Áncash y la Organización Chimboteros',
  'Talleres gratuitos sobre arquitectura, branding,  cultura y turismo',
  'Participación como protagonista en la conceptualización y diseño arquitectónico de la primera Festividad de Chimbote 2022'
]
---

<section id='beneficios' class='grid lg:grid-cols-2 border-t lg:border-t-0'>
  <div class='relative order-1 lg:order-none'>
    <img
      src='/images/aldea/valle.jpg'
      alt='complejo arqueológico El Castillo, Chimbote'
    />
    <small class='absolute bottom-4 left-5 text-xs text-[#eee]'>
      El complejo <br /> arqueológico El Castillo, <br /> Chimbote. <br /> David
      Aguedo / Fotear
    </small>
  </div>

  <div class='relative py-14 px-10'>
    <div
      class='w-[32rem] max-w-fit lg:max-w-full mx-auto lg:absolute-center md:text-center lg:text-left'
    >
      <div class='text-center lg:text-left mb-8'>
        <Heading title='Beneficios' subtitle='Participantes' />
      </div>

      <ul
        class='list-disc md:list-none lg:list-disc flex flex-col gap-3 md:gap-5 lg:gap-1 pl-4'
      >
        {benefits.map((benefit) => <li class='lg:text-lg'>{benefit}.</li>)}
      </ul>
    </div>
  </div>
</section>
