---
import Heading from '@/components/aldea/Heading.astro'

const events = [
  { name: 'Inicio de convocatoria', date: '01 setiembre / 00:00 hrs' },
  { name: 'Cierre de convocatoria', date: '15 setiembre / 23:59 hrs.' },
  { name: 'Publicación de preseleccionados', date: '20 setiembre' },
  { name: 'Entrevistas individuales', date: '25 setiembre / 16:00 hrs' },
  { name: 'Publicación de seleccionados', date: '01 octubre' },
  { name: 'Conferencia de prensa', date: '28 de septiembre' },
  { name: 'Taller de inducción', date: '04 octubre / 16:00 hrs.' },
  { name: 'Talleres y expediciones', date: 'Octubre y noviembre' },
  {
    name: 'Presentación de la festividad de Chimbote',
    date: '4, 5 y 6 de diciembre, 2022'
  }
]
---

<section
  id='convocatoria'
  class='h-[88rem] md:h-[85rem] py-24 px-10 bg-[url(/images/aldea/mobile/plaza-de-armas-de-chimbote.jpg)] md:bg-[url(/images/aldea/plaza-de-armas-de-chimbote.jpg)] bg-[length:100%] bg-bottom lg:bg-cover lg:bg-center bg-no-repeat relative'
>
  <div class='max-w-[40rem] mx-auto text-center [&>p]:text-base mb-8'>
    <Heading
      title='Convocatoria'
      subtitle='Cronograma de postulación'
      description='Jovenes arquitectos con disponibilidad de participar en talleres y expediciones gratuitas con la meta de ser protagonistas en la tematización de la primera Festividad de Chimbote.'
    />
  </div>

  <div class='mx-auto flex flex-col gap-5 items-center'>
    <h3 class='text-3xl font-medium text-center'>Cronograma</h3>
    <div class='border-t-[1.5px] border-b-[1.5px] py-7 px-5 border-[#808183]'>
      <ul class='flex flex-col gap-2'>
        {
          events.map(({ name, date }) => (
            <li class='grid lg:grid-cols-[minmax(0,19rem)_minmax(0,1fr)] gap-2 text-center'>
              <p class='lg:flex justify-between font-medium'>
                {name}
                <span>:</span>
              </p>
              <p class=''>{date}</p>
            </li>
          ))
        }
      </ul>
    </div>
    <a
      href='https://docs.google.com/forms/u/0/d/1C3Un0JB8kE3iZTeEG4e0LbW7Z6K26P4VACsGcpY6hx4/viewform?edit_requested=true'
      target='_blank'
      rel='noreferrer noopener'
      class='px-7 py-1.5 bg-[#34CC67] hover:bg-[#27b958] transition duration-200 text-white rounded-full cursor-pointer'
    >
      Postula
    </a>
  </div>

  <small class='absolute bottom-4 left-4 text-[#eee] text-xs'>
    La Plaza de Armas <br /> de Chimbote <br /> Ángel Zavaleta / Fotear
  </small>
</section>
