---
import Heading from '@/components/aldea/Heading.astro'
---

<section id='convocatoria' class='grid lg:grid-cols-2 border-t lg:border-t-0'>
  <div class='relative py-14 px-10'>
    <div
      class='w-[45em] max-w-fit lg:max-w-full mx-auto lg:absolute-center md:text-center lg:text-left'
    >
      <div class='text-center lg:text-left mb-10'>
        <Heading title='Convocatoria' subtitle='Arquitectos' />
        <p class='lg:text-2xl lg:leading-9'>
          La organización Chimboteros a través del proyecto Aldea convoca a
          jóvenes arquitectos , para ser parte de un equipo multidisciplinario
          que desarrolle proyectos de innovación en arquitectura,
          infraestructura y urbanismo; con la finalidad de rescatar información
          cultural y turística, que dote a nuestras ciudades de una identidad,
          en mayor armonía con nuestro mediambiente.
        </p>
      </div>
    </div>
  </div>

  <div class='relative'>
    <img src='/images/aldea/casa.jpg' alt='casa en la caleta - chimbote' />
    <small class='w-[8rem] absolute bottom-2 left-5 text-xs lg:text-sm'>
      Las Casonas de la Corporación Peruana del Santa, Chimbote <br /> Luis Mariños
      / Fotear
    </small>
  </div>
</section>
