---
const expeditions = [
  {
    name: 'Alameda Chimbote',
    description:
      'Más de cinco kilómetros de parques como un espacio estratégico para hacer interactuar a los jóvenes creativos de Chimbote en el desarrollo de proyectos compartidos.'
  },
  {
    name: 'La Antigua Estación del Ferrocarril',
    description:
      'Nuestro principal patrimonio cultural no cuenta con un proyecto integrado que conceptualice su gran valor histórico, para desde ahí forjar la identidad cultural de Chimbote.'
  },
  {
    name: 'Humedales de Chimbote',
    description:
      'La reserva ecológica urbana entre Chimbote y Nuevo Chimbote por revalorar desde sus artesanos, desde su fauna y desde su paisajismo, orientada  hacia ebl turismo sostenile.'
  }
]
---

<section id='expediciones' class='grid lg:grid-cols-2 border-t lg:border-t-0'>
  <div class='relative order-1 lg:order-none'>
    <img
      src='/images/aldea/valle.jpg'
      alt='complejo arqueológico El Castillo, Chimbote'
    />
    <small class='absolute bottom-4 left-5 text-xs lg:text-sm text-[#eee]'>
      El complejo <br /> arqueológico El Castillo, <br /> Chimbote. <br /> David
      Aguedo / Fotear
    </small>
  </div>

  <div class='relative py-14 px-10 text-[#1A1A1A]'>
    <div
      class='w-[40rem] max-w-fit lg:max-w-full mx-auto lg:absolute-center md:text-center lg:text-left'
    >
      <div class='text-center lg:text-left mb-8'>
        <h2
          class='text-3xl md:text-[2.2rem] lg:text-[4rem] font-medium md:mb-1 lg:mb-7'
        >
          Expediciones
          <span
            class='hidden lg:inline-block text-[#737373] text-2xl align-middle'
            >(<span class='inline-block translate-y-1.5'>*</span>)</span
          >
        </h2>
        <em
          class='text-lg md:text-xl lg:text-[2rem] mb-3 lg:mb-7 inline-block text-[#7B7B7B] lg:text-inherit'
          >Rutas urbanas e históricas</em
        >
        <p class='text-base md:text-lg lg:text-2xl'>
          Recorridos urbanos para recorrer y analizar in situ los sitios y
          patrimonios culturales de la provincia del Santa
        </p>
      </div>

      <ul class='w-full flex flex-col gap-5 mb-8'>
        {
          expeditions.map(({ name, description }, index) => (
            <li>
              <h3 class='text-lg lg:text-2xl font-medium mb-1'>
                {index + 1 + ') ' + name}
              </h3>
              <p class='text-base lg:text-xl'>{description}</p>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
