<section
  id='festividad'
  class='h-[65rem] md:h-[55rem] lg:h-[70rem] py-20 lg:py-28 px-10 bg-[url(/images/aldea/malecon-la-caleta.jpg)] bg-cover bg-center relative'
>
  <div class='max-w-[54rem] mx-auto'>
    <img
      src='/images/aldea/suenos-de-libertad.png'
      alt='slogan sueños de libertad'
      class='max-w-[12rem] md:max-w-[13.5rem] lg:max-w-[20rem] mx-auto mb-5'
    />
    <em class='w-max block mx-auto mb-8'>4, 5, y 6 dic. 2022</em>
    <p
      class='text-[14px] md:text-[14.5px] lg:text-[1.1rem] text-justify font-medium leading-6 lg:leading-8'
    >
      Chimbote, luego de siglos de formación, aún no celebra una fiesta propia,
      emblemática e integradora; que exprese el auténtico significado de su
      pasado, presente y futuro. Por ello, hoy celebramos su espíritu cultural
      con la riqueza de su historia, con sus valiosos emblemas, con sus
      paisajismos de ensueño, con su apreciada gastronomía, con su arte popular
      y con la recuperación de su ecología, presentando la primera edición de la
      Festividad de Chimbote: Sueños de Libertad, como un buen inicio para
      aspirar a ser un nuevo atractivo turístico global.
    </p>
  </div>

  <small class='absolute bottom-4 left-5 text-xs lg:text-sm text-[#eee]'>
    El histórico malecón <br /> de La Caleta, Chimbote <br /> David Aguedo / Fotear
  </small>
</section>
