---
import Heading from '@/components/aldea/Heading.astro'

const workshops = [
  'La arquitectura y el branding emocional',
  'La arquitectura y la gestión cultural',
  'La arquitectura y el turismo sostenible'
]
---

<section id='talleres' class='grid lg:grid-cols-2 border-t lg:border-t-0'>
  <div class='relative py-14 px-10'>
    <div
      class='w-[40rem] max-w-fit lg:max-w-full mx-auto lg:absolute-center md:text-center lg:text-left'
    >
      <div class='text-center lg:text-left mb-10'>
        <Heading
          title='Talleres'
          subtitle='Currícula creativa'
          description='Capacitaciones en áreas complementarias a la técnica arquitectónica orientadas al desarrollo cultural y turístico:'
        />
      </div>

      <ol class='w-full flex flex-col gap-8'>
        {
          workshops.map((workshop, index) => (
            <li>
              <h3 class='capitalize text-lg lg:text-2xl font-medium mb-1'>
                {`${index + 1}) Taller 0${index + 1}:`}
              </h3>
              <p class='text-base lg:text-2xl lg:leading-9'>{workshop}</p>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
  <div class='relative'>
    <img
      src='/images/aldea/estacion-del-ferrocarril.jpg'
      alt='estación del ferrocarril de chimbote'
    />
    <small class='absolute bottom-4 left-5 text-xs lg:text-sm text-[#eee]'>
      Segunda nave <br /> de la antigua Estación <br /> del Ferrocarril, <br /> Joan
      Gavelán / Fotear
    </small>
  </div>
</section>
