@font-face {
  font-family: 'Neue';
  src: url(/fonts/NeueHaasDisplay-XThin.ttf);
  font-weight: 200;
}
@font-face {
  font-family: 'Neue';
  src: url(/fonts/NeueHaasDisplay-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Neue';
  src: url(/fonts/NeueHaasDisplay-Roman.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Neue';
  src: url(/fonts/NeueHaasDisplay-Mediu.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Neue';
  src: url(/fonts/NeueHaasDisplay-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Neue';
  src: url(/fonts/NeueHaasDisplay-Black.ttf);
  font-weight: 700;
}

html {
  font-family: 'neue';
  scroll-behavior: smooth;
}

.formLabel {
  @apply text-white lg:text-[#333] inline-block mb-2 text-base lg:text-xl;
}

.formInput {
  @apply text-sm lg:text-base w-full outline-none rounded-full py-2 px-3 lg:px-4 opacity-70;
}
