<section id='prop칩sito' class='py-8 lg:py-28 px-6 bg-[#FBF9F3]'>
  <div
    class='flex flex-col gap-4 lg:gap-6 text-center items-center w-[55rem] max-w-full mx-auto'
  >
    <h2 class='text-[#FF0066] text-3xl font-semibold lg:text-5xl'>
      Pescadores de Sue침os
    </h2>

    <img src='/images/velero.png' alt='velero' class='w-full' />

    <p class='text-base lg:text-xl font-medium'>
      En cada rinc칩n de Chimbote existen tesoros por descubrir y muchos sue침os
      por conquistar. Espacios y experiencias esperando su momento para
      convertirse en oportunidades productivas que les transforme la vida a
      miles de emprendedores. Ese es nuestro deseo.
    </p>
  </div>
</section>
